@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Anton');

body {
    background: #fafafa;
}

main{
    width: 700px;
    height: 300px;
    margin: 10%;
    box-shadow: 8px 7px 23px -8px rgba(0,0,0,0.75);
    border-radius: 15px;
}

main div.img {
    width: 40%;
    height: 300px;
    background: linear-gradient(#69fcc9, #43caca);
    display: inline-block;
    float: left;
    margin-right: 2%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;

}

main div.img img {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

main h1 {
    display: inline-block;
    font-family: Anton, sans-serif;
    margin-top: 3%;
}

main div.price {
    font-family: Anton, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

main label {
    display: block;
    font-family: Lato, sans-serif;
    margin-top: 2%;
}

main input {
    display: block;
    margin-top: 2%;
    border: none;
    border-bottom: 2px solid #49c2ca;
}

main select {
    display: block;
    margin-top: 2%;
    width: 22%;
    border: none;
    background-color: #49c2ca;
    color: #fff;
}

div.empty {
    padding: 1.5%;
}

main input.submit {
    background-color: #49c2ca;
    border: none;
    width: 14%;
    height: 23px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
}
