@media screen and (max-width: 960px) {
    body #wrapper {
        width: 100%;
    }
    body #wrapper > aside {
        height: 100%;
    }
}

@media screen and (max-width: 780px) {
    body #wrapper > header nav ul {
        justify-content: center;
    }

    body #wrapper > header nav ul li {
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 640px) {
    body #wrapper > header nav ul li {
        display: block;
        width: 100%;
    }

    body #wrapper > header {

    }

    body #wrapper > header h1 a {
        justify-content: center;
    }

    body #wrapper {
        width: 100%;
        display: block;
        margin: 0;
    }

    body #wrapper > section {
        width: 100%;
    }

    body #wrapper > aside {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {

}
