@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";

body {
    font-family: Lato, sans-serif;
}

img {
    width: 44%;
    height: 600px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    float: left;
}

div.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: left;
}

div.container {
    width: 80%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

input {
    margin-top: 7px;
    display: block;
    width: 220px;
    border: none;
    border-bottom: 2px solid #708090;
    color: #7a7f97;
    font-size: 20px;
}

body > main > div > div > form > div > label:nth-child(1) > input[type="text"] {
    border-bottom: 1px solid #708090;
}

body > main > div > div > form > div > label:nth-child(3) > input[type="password"] {
    border-bottom: 1px solid #708090
}

input.submit {
    border: none;
    width: 140px;
    height: 43px;
    border-radius: 20px;
    padding: 5px 17px 5px 17px;
    color: #fff;
    background: #892064;
    font-size: 20px;
    display: inline-block;
}

span {
    color: black;
    font-size: 20px;
}


label {
    display: block;
    color: #d9d9dd;
    margin-bottom: 25px;
    font-size: 20px;
}

div.i {
    width: 53%;
    float: left;
    border: 4px solid #892064;
    height: 586px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: block;
    text-align: right;
    padding-right: 15px;
    padding-top: 10px;

}

.fa {
    display: block;
    font-size: 25px;
    color: #892064;
}


