@media screen and (max-width: 1200px) {
    #wrapper {
        width: 100%;
    }

    header {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    main {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    header {
        width: 80%;
    }

    header p {
        margin: 0;
        font-size: 2em;
    }

    header nav ul {
        margin-top: 0;
        display: flex;
    }

    main section {
        width: 90%;
    }

    main section div {
        height: 100%;
        display: flex;
    }

    main section > div > div {
        margin-right: 0;
    }

    main section div article p, main section div article h3{
        margin-left: 3px;
    }

    main aside {
        width: 90%;
    }

    main aside article {
        margin-right: 0;
    }

    footer {
        text-align: center;
    }
}

@media screen and (max-width: 730px) {
    header nav ul {
        display: block;
    }

    header nav ul li {
        width: 100%;
    }

    img {
        width: 50%;
    }

    main section div {
        display: block;
    }

    main section div div {
        width: 100%;
        text-align: center;
        background: #b7cc89;
    }

    main section article h3 {
        text-align: center;
    }

}