@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: 'Open Sans', Arial, sans-serif;
}

aside.left {
    width: 20%;
    background-color: #fff;
    display: inline-block;
    float: left;

}
aside.left h1 {
    font-family: Comfortaa, sans-serif;
    font-size: 28px;
    text-align: center;
}

aside.left img {
    margin-top: 3%;
    margin-left: 30%;
    width: 40%;
    border-radius: 90%;
    text-align: center;
}

aside.left p.userName {
    color: #ccd8ea;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;

}

aside.left nav {
    margin-left: 0;
}

aside.left nav ul {
    list-style:none;
    float: left;
    color: #ccd8ea;
    text-transform: uppercase;
    padding-left: 3px;


}

aside.left nav ul li {
    margin-left: 0;
    margin-bottom: 15%;
    font-size: 12px;
}

aside.left nav ul li i {
    margin-left: 0;
    margin-right: 7px;
}

main {
    width: 60%;
    background-color: #f3f5f7;
    display: inline-block;
}

aside.right {
    width: 20%;
    background-color: #f3f5f7;
    display: inline-block;
    float: right;
}

main header{
    font-family: Comfortaa, sans-serif;
    font-size: 28px;
    margin-top: 5%;
}

main {
    padding-left: 5%;
}

main header span {
    color: #92a4af;
}

main h5 {
    text-transform: capitalize;
    margin-bottom: 1%;
    margin-top: 4%;
    font-size: 10px;
}

main p {
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 3%;
}

main article {
    background-color: #fff;
    width: 28%;
    display: inline-block;
}

main article img {
    margin-top: 30%;
    width: 100%;
    z-index: -1;
}

main article div.container {
    z-index: -1;
}

main article div.status.rented:before {
    content: " ";
}

main article div.status {
    text-align: center;
    z-index: 2;
    margin-left: -10%;
    display: inline-block;
    width: 40%;
    border-radius: 30px;
    padding-bottom: 3%;
    padding-top: 3%;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    background-color: #68BC69;
}

main article div.status.rented {
    background-color: #b8c5cc;
}

main article div.status.draft {
    background-color: #91a5af;
}

article p {
    font-size: 10px;
    text-transform: capitalize;
    color: #878c8d;
}

article.rented {
    opacity: 0.8;
    width: 28%;
    z-index: -1;
}

aside.right {
    position: relative;
    width: 15%;
    height: 100%;
    text-align: center;
    background-color: #fff;
}

aside.right button {
    vertical-align: top;
    background-color: #ff7739;
    width: 80%;
    height: 10%;
    border-radius: 50px;
    border: none;
    color: #fff;
}

aside.right button:hover {
    border: 1px solid #ff7739;
    color: #ff7739;
    background-color: #fff;
}


