@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #333333;
    margin: 0px;
    padding: 0px;
}

header {
    background-image: url("images/header.jpg");
    background-size: cover;
    height: 200px;
}

header h1 {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    padding: 80px 0 0 20px;
    font-weight: 900;
    color: #fff;
    text-align: center;
}


div.content {
    width: 650px;
    margin-left: 130px;
    display: inline-block;
}

div.content h1 {
    font-size: 20px;
}

div.content p {
    font-size: 15px;
    padding-bottom: 0;
    width: 650px;
}

div.content img {
    width: 650px;
    padding-top: 0;
}

div.content button {
    width: 120px;
    height: 35px;
    background: none;
    border-radius: 30px;
    border: 1px solid #ED6868;
    color: #EE5151;
}

div.content button:hover {
    background-color: #EC5353;
    color: #FFF;
}

aside {
    display: inline;
    float: right;
}

aside h1 {
    font-size: 25px;
}

aside p {
    width: 350px;
    font-size: 18px;
    padding-bottom: 20px;
}

aside img {
    width: 350px;
}

